<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  home--页面

  <%- include('./header.ejs',{isShowTitle:false}) %>

  <ul>
    <!--如果是流程控制语句，if,else,for，不需要加 = -->
    <% for (let i = 0; i < list.length; i++) { %>
      <li><%= list[i] %></li>
    <% } %>
  </ul>

  <!-- - 可以解析html代码-->
  <div>最新消息-<%= myhtml %></div>
  <div>最新消息-<%- myhtml %></div>


</body>
</html>